#btnPlanet {
    width: 85px;
    height: 85px;
}
#btnPeople {
    width: 85px;
    height: 85px
}
#btnShips {
    width: 85px;
    height: 85px
}
#btnSpecies {
    width: 85px;
    height: 85px
}
#btnMovies {
    width: 85px;
    height: 85px
}
#rebelicon {
    width:175px;
    height:175px;
}

#btnPlanet {
    width: 85px;
    height: 85px;
}
#btnPeople {
    width: 85px;
    height: 85px
}
#btnShips {
    width: 85px;
    height: 85px
}
#btnSpecies {
    width: 85px;
    height: 85px
}
#btnMovies {
    width: 85px;
    height: 85px
}
#rebelicon {
    width:175px;
    height:175px;
}
.uk-cover-container {
    height: 550%;
    width: 100%;
}

.uk-slider-container {
   padding: 40px;
}

.factsUl {
    text-align: left;
}

.contentUl {
    text-align: left;
}



