body {
    background: url(assets/img/warp.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#btnPlanet {
    width: 85px;
    height: 85px;
}
#btnPeople {
    width: 85px;
    height: 85px
}
#btnShips {
    width: 85px;
    height: 85px
}
#btnSpecies {
    width: 85px;
    height: 85px
}
#btnMovies {
    width: 85px;
    height: 85px
}
#rebelicon {
    width:175px;
    height:175px;
}

#btnPlanet {
    width: 85px;
    height: 85px;
}
#btnPeople {
    width: 85px;
    height: 85px
}
#btnShips {
    width: 85px;
    height: 85px
}
#btnSpecies {
    width: 85px;
    height: 85px
}
#btnMovies {
    width: 85px;
    height: 85px
}
#rebelicon {
    width:175px;
    height:175px;
}

.factsUl {
    text-align: left;
}

.contentUl {
    text-align: left;
    display: inline-block;
}

.sliderCard {
    padding: 40px;
}

.uk-heading-primary {
    color: white;
}



