#btnPlanet {
    width: 85px;
    height: 85px;
}
#btnPeople {
    width: 85px;
    height: 85px
}
#btnShips {
    width: 85px;
    height: 85px
}
#btnSpecies {
    width: 85px;
    height: 85px
}
#btnMovies {
    width: 85px;
    height: 85px
}
#rebelicon {
    width:175px;
    height:175px;
}